* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.titleContainer {
  height: 60px;
  width: 100vw;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.titleContainer .title {
  font-size: 1.7em;
  color: #333;
  font-weight: 400;
}

.titleContainer .title .covidVirus {
  height: 30px;
  width: 30px;
  transform: translateY(5px);
}

.titleContainer .themeSwitcher {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 20px;
}

.sliderContainer {
  width: 90px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  transition: all 0.5s;
}

.sliderContainer .sidebarContainer {
  background-color: #ffa1a1;
  height: inherit;
  width: 300px;
  padding: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sliderContainer .sidebarContainer .title {
  margin-left: 90px;
  height: 100px;
  font-size: 1.4em;
  color: #222222;
}

.sliderContainer .sidebarContainer .sidebarItem {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3em;
}

.sliderContainer .sidebarContainer .sidebarItem .sidebarIcon {
  height: 50px;
  width: 50px;
  margin: 10px 20px;
}

.sliderContainer:hover {
  width: 300px;
}

.mainBodyContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 60px;
  padding-left: 90px;
  display: grid;
  grid-template-rows: 300px 400px 400px;
  grid-template-areas: "cards" "map" "chart";
}

.cardsContainer {
  grid-area: cards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsContainer .card {
  height: 200px;
  width: 140px;
  background-color: #e6e6e6;
  margin: 0px 15px 0px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e6e6e6;
  border: solid 3px white;
  box-shadow: 0px 5px 20px 5px rgba(119, 119, 119, 0.3);
}

.cardsContainer .cardConfirmed {
  background-color: #fdd8d8;
}

.cardsContainer .cardConfirmed .title {
  font-size: 1.2em;
  color: red;
}

.cardsContainer .cardConfirmed .change {
  color: red;
}

.cardsContainer .cardConfirmed .value {
  color: red;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.cardsContainer .cardActive {
  background-color: #c0e3ff;
}

.cardsContainer .cardActive .title {
  font-size: 1.2em;
  color: #0089d8;
}

.cardsContainer .cardActive .change {
  color: #0089d8;
}

.cardsContainer .cardActive .value {
  color: #0089d8;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.cardsContainer .cardRecovered {
  background-color: #afeca7;
}

.cardsContainer .cardRecovered .title {
  font-size: 1.2em;
  color: #00851d;
}

.cardsContainer .cardRecovered .change {
  color: #00851d;
}

.cardsContainer .cardRecovered .value {
  color: #00851d;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.cardsContainer .cardDeath {
  background-color: #cccccc;
}

.cardsContainer .cardDeath .title {
  font-size: 1.2em;
  color: #646464;
}

.cardsContainer .cardDeath .change {
  color: #646464;
}

.cardsContainer .cardDeath .value {
  color: #646464;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.mapContainer {
  background-color: #333;
  grid-area: map;
}

.chartContainer {
  background-color: #0c1a6d;
  grid-area: chart;
}
/*# sourceMappingURL=style.css.map */