:root {
  --smallFont:3vw;
  --mediumFont:3.8vw;
  --largeFont:4.6vw;
}

.titleContainer {
  height: 41px;
  min-height: 41px;
  max-height: 60px;
  width: 100vw;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 500;
}

.titleContainer .title {
  font-size: 1.7rem;
  color: #333;
  font-weight: 400;
}

.titleContainer .title .covidVirus {
  height: 30px;
  width: 30px;
  transform: translateY(5px);
}

.titleContainer .themeSwitcher {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 20px;
}

.sliderContainer {
  width: 70px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  transition: all 0.5s;
  z-index: 600;
}

.sliderContainer .sidebarContainer {
  background-color: #ffa1a1;
  height: inherit;
  width: 300px;
  padding: 50px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sliderContainer .sidebarContainer .title {
  margin-left: 90px;
  height: 100px;
  font-size: 1.4em;
  color: #222222;
}

.sliderContainer .sidebarContainer .sidebarItem {
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.3em;
}

.sliderContainer .sidebarContainer .sidebarItem .sidebarIcon {
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}

.sliderContainer:hover {
  width: 300px;
}

.cardsContainer {
  grid-area: cards;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 2vw 0;
}

.cardsContainer .card {
  width: 22vw;
  height: 33vw;
  max-height: 200px;
  max-width: 130px;
  background-color: #e6e6e6;
  margin: 0px 1vw 0px 1vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cardsContainer .cardConfirmed {
  background-color: #fdd8d8;
  color: red;
}

.cardsContainer .cardConfirmed .title {
  font-size: var(--mediumFont);
}

.cardsContainer .cardConfirmed .change {
  font-size: var(--smallFont);
}

.cardsContainer .cardConfirmed .value {
  font-size: var(--largeFont);
  letter-spacing: -1px;
}

.cardsContainer .cardActive {
  background-color: #c0e3ff;
  color: #0089d8;
}

.cardsContainer .cardActive .title {
  font-size: var(--mediumFont);
}

.cardsContainer .cardActive .change {
  font-size: var(--smallFont);
}

.cardsContainer .cardActive .value {
  font-size: var(--largeFont);
  letter-spacing: -1px;
}

.cardsContainer .cardRecovered {
  background-color: #afeca7;
  color: #00851d;
}

.cardsContainer .cardRecovered .title {
  font-size: var(--mediumFont);
}

.cardsContainer .cardRecovered .change {
  font-size: var(--smallFont);
}

.cardsContainer .cardRecovered .value {
  font-size: var(--largeFont);
  letter-spacing: -1px;
}

.cardsContainer .cardDeath {
  background-color: #cccccc;
  color: #646464;
}

.cardsContainer .cardDeath .title {
  font-size: var(--mediumFont);
}

.cardsContainer .cardDeath .change {
  font-size: var(--smallFont);
}

.cardsContainer .cardDeath .value {
  font-size: var(--largeFont);
  letter-spacing: -1px;
}

.stateLabel {
  background-color: #c0e3ff;
  padding: 2px 5px;
  font-size: var(--mediumFont);
  border-radius: 5px;
  color: #474747;
  margin: 3.5vw 0 4vw 0;
}

.mapContainer {
  grid-area: map;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.mapContainer .indiaMapSvg {
  width: 90vw;
  height: auto;
  max-width: 500px;
}

.mapContainer .indiaMapSvg .regions path {
  fill: #f1f7fd;
}

.chartContainer {
  grid-area: chart;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer .covidChart {
  max-width: 700px;
  height: auto !important;
  width: 90% !important;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px #505050;
}

@media only screen and (min-width: 1024px) {
  .mainBodyContainer {
    margin: 0px auto;
    padding-left: 70px !important;
    align-items: center !important;
    grid-template-columns: 60% 40%;
    grid-template-areas: "cards map" "chart map" !important;
  }
  .mapContainer .indiaMapSvg {
    width: 37vw;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --smallFont: 1.05rem;
    --mediumFont: 1.2rem;
    --largeFont: 1.5rem;
  }
  .titleContainer {
    height: 60px;
  }
  .mainBodyContainer {
    padding-top: 60px !important;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --smallFont: 1rem;
    --mediumFont: 1.15rem;
    --largeFont: 1.45rem;
  }
  .titleContainer {
    height: 50px;
  }
  .sliderContainer {
    width: 1.4vw;
  }
  .chartContainer {
    margin-bottom: 20px;
  }
  .chartContainer .covidChart {
    border-radius: 1.3vw;
    padding: 3px;
  }
  .cardsContainer .card {
    border-radius: 1.3vw;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --smallFont: 3vw;
    --mediumFont: 3.8vw;
    --largeFont: 4.6vw;
  }
  .titleContainer {
    height: 41px !important;
  }
  .titleContainer .title {
    font-size: 1.5rem;
  }
  .titleContainer .title .covidVirus {
    height: 25px;
    width: 25px;
  }
  .titleContainer .mainBodyContainer {
    padding-top: 41px;
  }
  .titleContainer .themeSwitcher {
    height: 20px;
    width: 20px;
    right: 20px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.mainBodyContainer {
  padding-top: 41px;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas: "cards" "map" "chart";
}
/*# sourceMappingURL=style.css.map */