//**********Map Start**********//

.mapContainer {
    grid-area: map;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    margin:20px auto;
    height:100%;
    width:100%;

    .indiaMapSvg {
        width:90vw;
        height:auto;
        max-width:500px;

        .regions {
            
            path {
                fill:rgb(241,247,253);
            }
        }
        
    }
}

//**********Map End************//