//**********Map Start**********//

.stateLabelContainer {
    // grid-area: state;
    background-color:$activeBlue;
    padding: 5px 5px;
    font-size: var(--mediumFont);
    border-radius: 5px;
    color: rgb(71, 71, 71);
    margin : 3.8vw 0 4vw 1vw;
    display: flex;
    align-items: center;
}
.stateLabelIcon {
    max-height: 18px;
    height:5vw;
    margin-right: 5px;
}

.mapContainer {
    grid-area: map;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    position: relative;
    height:100%;
    width:100%;

    .indiaMapSvg {
        width:90vw;
        height:auto;
        max-width:500px;

        .regions {
            
            path {
                fill:rgb(241,247,253);
            }
        }
        
    }
}

//**********Map End************//