:root {
        --smallFont:3vw;
        --mediumFont:3.8vw;
        --largeFont:4.6vw;
}
$confirmedRed:#fdd8d8;
$confirmedFontColor:red;
$activeBlue:#c0e3ff;
$activeFontColor:rgb(0, 137, 216);
$recoveredGreen:#afeca7;
$recoveredFontColor:rgb(0, 133, 29);
$deathBlack:#cccccc;
$deathFontColor:rgb(100, 100, 100);