* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

//**********Navigation Start***********//

.navigationContainer {
    height: 60px;
    width: 100vw;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    .navigationTitle {
        font-size: 1.7em;
        font-family: 'Ubuntu', sans-serif;
        color: #333;
        font-weight: 400;

        .covidVirus {
            height: 30px;
            width: 30px;
            transform: translateY(5px);
        }
    }

    .themeSwitcher {
        position : absolute;
        height: 25px;
        width: 25px;
        right: 20px;
    }
}

//**********Navigation End***********//



