* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

//**********Title Bar Start***********//

.titleContainer {
    height: 60px;
    width: 100vw;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 500;

    .title {
        font-size: 1.7em;
        color: #333;
        font-weight: 400;

        .covidVirus {
            height: 30px;
            width: 30px;
            transform: translateY(5px);
        }
    }

    .themeSwitcher {
        position : absolute;
        height: 25px;
        width: 25px;
        right: 20px;
    }
}

//**********Title Bar End***********//

//**********Side Bar Start***********//

.sliderContainer{
    width: 90px;
    height: 100%;
    overflow: hidden;
    position: fixed;
    transition: all 0.5s;
    z-index: 600;

    .sidebarContainer{
        background-color: rgb(255, 161, 161);
        height: inherit;
        width: 300px;
        padding: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
    
        .title{
            margin-left: 90px;
            // margin-right: 10px;
            height: 100px;
            font-size:1.4em;
            color:rgb(34, 34, 34)
        }

        .sidebarItem {
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 1.3em;
    
            .sidebarIcon {
                height: 50px;
                width: 50px;
                margin: 10px 20px;
            }
        }
    }
    
    &:hover {
        width: 300px;
    }
}

//**********Side Bar End*************//

//**********Main Body Start**********//

.mainBodyContainer{
    // margin:auto;
    padding-top: 60px;
    padding-left: 90px;
    display: grid;
    grid-template-rows: 300px 550px 600px;
    grid-template-areas:
    // "cards map"
    // "chart map"
    "cards"
    "map"
    "chart"
        ;
}

//**********Cards Start**********//

.cardsContainer {
    grid-area: cards;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        height: 200px;
        width: 140px;
        background-color: rgb(230, 230, 230);
        margin: 0px 15px 0px 15px;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(230, 230, 230);
        border: solid 3px rgb(255, 255, 255);
        box-shadow: 0px 5px 20px 5px rgba(119, 119, 119, 0.3),
    }

    .cardConfirmed {
        background-color: #fdd8d8;
        .title {
            font-size: 1.2em;
            color: red;
        }
        .change {
            color: red;
        }
        .value {
            color:red;
            font-size: 1.5em;
            letter-spacing: -1px;
        }
    }

    .cardActive {
        background-color: #c0e3ff;
        .title {
            font-size: 1.2em;
            color: rgb(0, 137, 216);
        }
        .change {
            color: rgb(0, 137, 216);
        }
        .value {
            color:rgb(0, 137, 216);
            font-size: 1.5em;
            letter-spacing: -1px;
        }
    }

    .cardRecovered {
        background-color: #afeca7;
        .title {
            font-size: 1.2em;
            color: rgb(0, 133, 29);
        }
        .change {
            color: rgb(0, 133, 29);
        }
        .value {
            color:rgb(0, 133, 29);
            font-size: 1.5em;
            letter-spacing: -1px;
        }
    }

    .cardDeath {
        background-color: #cccccc;
        .title {
            font-size: 1.2em;
            color: rgb(100, 100, 100);
        }
        .change {
            color: rgb(100, 100, 100);
        }
        .value {
            color:rgb(100, 100, 100);
            font-size: 1.5em;
            letter-spacing: -1px;
        }
    }
}

//**********Cards End************//

//**********Map Start**********//

.mapContainer {
    grid-area: map;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    // z-index: -1;

    .locationName {
        position:absolute;
        top: 20px;
        transform: translateX(168px);
        color: rgb(0, 125, 209);
        font-size: 1.3em;
        background-color: rgba(189, 234, 255, 0.555);
        border-radius: 20px;
        padding: 2.5px 15px;
        border: solid 3px rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.3),
    }

    .indiaMapSvg {
        height: 500px;
        .regions {
            path {
                fill:rgb(241,247,253);
            }
        }
        
    }
}

//**********Map End************//

//**********Chart Start**********//

.chartContainer {
    grid-area: chart;
    position: relative;
    height:400px;
    width:800px;
    margin-right: auto;
    margin-left: auto;
    
    .covidChart {
        background-color:rgb(255, 255, 255);
        padding:10px;
        border-radius:10px;
        box-shadow: 0px 5px 20px 5px rgba(119, 119, 119, 0.3),
    }
}

//**********Chart End************//

//**********Main Body End************//