@import 'variables';
@import 'titleBarStyle';
@import 'sideBarStyle';
@import 'cardStyle';
@import 'mapStyle';
@import 'chartStyle';
@import 'mediaQuerie';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

//**********Main Body Start**********//

.mainBodyContainer{
    padding-top: 41px;
    width:100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "cards"
    "map"
    "chart"
        ;
}

//**********Main Body End************//